body {
  margin: 0;
  padding: 0;
  background: #ccc;
  -webkit-backface-visibility: hidden;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav a {
  text-decoration: none;
  color: #fff;
}
.nav li {
  list-style: none;
  font-size: 1.3em;
  width: 31%;
  line-height: 100%;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  padding: 4px 0;
}

.nav .active{
  color:rgb(102, 156, 218);
  background-color: rgb(137, 137, 137);
}

.star img {
  height:28px;
  width:28px;
}
